/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   ========================================================================== */
body{
    font: 300 16px 'Open Sans Condensed', serif;
    background-color: #ffffff;
    color: #6a6464;
}
.container{
    max-width: 1170px;
    padding: 0 20px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color:#6a6464;
}
/* ================================ header ================================ */
.header-top{
    padding: 20px 0;
}
.header-logo{
    float: left;
}
.header-top .header-contacts{
    float: right;
    padding: 45px 0;
    font-size: 24px;
    color: #f3d1ce;
    transition: all .2s;
    cursor: pointer;
}
.header-contacts:hover,
.popup-close:hover{
    transform: scale(1.2);
}
.header-top span{
    float: right;
    padding: 30px 15px;
    font-size: 20px;
}

/* ============================== header-nav ============================== */
.responsive-list{
    padding: 0;
    margin: 0;
    text-align: justify;
}
.responsive-list li{
    display: inline;
}
.responsive-list li a{
    display: inline-block;
    padding: 10px;
    text-transform: lowercase;
    transition: all .2s;
}
.responsive-list li a:hover{
    background-color: #f3d1ce;
}
.responsive-list:after {
    content: '';
    margin-left: 100%;
    display: inline-block;
}
/*header,
.about,
.works{
    margin-bottom: 150px;
}*/
/* ================================ about ================================= */
.about{
    margin-top: 50px;
}
h1,
h2{
    display: inline-block;
    padding: 0 10px;
    font-size: 1.3em;
    font-weight: 300;
    background-color: #f3d1ce;
}
h1{
    margin-bottom: 50px;
}
.about li{
    padding-left: 10px;
    margin-bottom: 7px;
}
/* ============================= section-works ============================ */
.works{
    margin: 150px 0;
}
.works-item{
    float: left;
    width: 29%;
    overflow: hidden;
    padding: 30px 2%;
    text-align: center;
}
.works-item-preview{
    display: inline-block;
    margin: 0 20px 40px;
    overflow: hidden;
    transition: all .4s;
}
.works-item-preview img{
        max-width: 100%;
        height: auto;
}
.works-item-preview:hover{
    transform: scale(1.1);
}
.works-item-description{
    margin: 0 20px;
    text-align: left;
}
.works-item-description i{
    top: .5em;
    font-size: 10px;
}
/* =============================== footer ================================= */

/* ============================= modal window ============================= */
.popup-wrap{
    position: fixed;
    top: 0;
    display: none;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: rgba(255,255,255,.9);
}
.popup{
    width: 400px;
    height: 250px;
    padding: 20px;
    margin: 100px auto 0;
    background-color: #ffffff;
}
.popup-close{
    float: right;
    color: #f3d1ce;
    transition: all .2s;
    cursor: pointer;
}
.popup-contacts{
    padding-top: 20px;
    text-align: center;
}
.popup-contacts a{
    display: block;
    margin: 25px;
}
.popup-contacts a:hover{
    color: #000000;
}
/* ================================ media ================================= */
@media(max-width: 650px){
    .works-item{
        float: none;
        width: 100%;
        padding: 30px 0;
        border-right: none;
        border-bottom: 1px dashed #6a6464;
    }
    .works-item:last-child{
        border-bottom: none;
    }
}
@media(max-width: 505px){
    .main-footer .responsive-list li{
        display: block;
        text-align: center;
    }
}
@media(max-width: 440px){
    .popup{
        width: auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
